/* Estilos propios */
/*  Style for el sidebar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mystyle-nav{
    -webkit-transition: opacity 0.5s ease-out; /* Safari */
    transition: opacity 0.5s ease-out;
    z-index: 10; 
    opacity: 0.5;
    border-radius: 10%;
    top:-10px ;
    padding: 3.5% 0 1% 0;
    
}

.mystyle-nav:hover{
    z-index: 10; 
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out; /* Safari */
    transition: opacity 0.5s ease-out;
    border-bottom: solid 5px orange;
}

.navbar-brand{
    margin: 0 0 0 -5%;
}

.like-recipes:hover{
    opacity: 0.5;
    cursor: pointer;
}

.img-recipes{
    overflow: hidden;
    cursor: pointer;
    
}


.img-recipes:hover .imagen{
    -webkit-transform:scale(1.3);
    transform:scale(1.1);
    filter: saturate(180%);
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}



/* al hacer hover al boton iniciar sesion */

/*  Estilos del menu  */